@import "../../assets/sass/partials/colors";

.img-modal {
  background: $transparent-dark-background;
  height: 100%;
  left: 0;
  padding-bottom: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.modal-main {
  background: transparent;
  border-radius: 10px;
  height: auto;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.modal-btn {
  background: transparent;
  border: 1px solid $color-white;
  border-radius: 60px;
  box-shadow: none;
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: auto;
  outline: transparent;
  padding: 10px;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background: $color-danger;
    border: 1px solid $color-danger;
    box-shadow: none;
    color: $color-white;
  }
}

.modal-img-container {
  height: 500px;
  position: relative;
  width: 80%;

  img {
    max-height: 400px;
    width: auto;
    border-radius: 10px
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
