* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
}
html,
body {
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
.alert {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
.alert.alert-success {
  color: #35532f;
  background-color: #ddebdc;
}
.alert.alert-danger {
  color: #61283a;
  background-color: #efd9da;
}
.none {
  display: none;
}
