@import "../../../assets/sass/partials/colors";

.user-article-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $default-gray;
  margin-bottom: 30px;
  padding: 10px 8px;

  h4 {
    font-size: 2.4rem;
  }
}

.user-article-card__actions {
  margin: auto 15px;
}

.swal-button:active,
.swal-button:focus,
.swal-button {
  background-color: $color-danger;
  border: 1px solid transparent;
}

.swal-button:not([disabled]):hover,
.swal-button--cancel {
  background-color: $color-white;
  border: 1px solid $color-danger;
  color: $color-danger;
}

@media screen and (max-width: 768px) {
  .user-article-card {
    flex-direction: column;
    justify-content: center;

    h4 {
      text-align: center;
    }
  }
}
