@import "../../assets/sass/partials/colors";

.main-container{
  min-height: 100vh;
}

.row {
  width: 100%;
}

.form-container{
  float: none !important;
  height: auto;
  margin: 20% auto;
  box-shadow: 0 0 10px 5px #e7e7e7;
  border-radius: 3px;
}

.header-password-reset,
.password-reset-message
{
  font-weight: bold;
  text-align: center;
}

.form{
  padding: 10px;
}

.form .input-field input{
  padding: 5px;
  background-color: #eeeded;
  border-radius: 5px;
}
.input-field label {
  position: relative;
}
.btn-container{
  padding-left: 15px;
}
.btn-update{
  width: 100%;
}
.btn-update-message{
  width: 100px;
}
.log-link{
  color: $color-danger;
}
.log-link:hover{
  color: #fff;
}
.error-message{
  color: $color-danger;
  font-size: 18px;
  text-align: center;
}
