$color-white: #fff;
$color-dark: #333;
$color-black: #000000;
$color-gray: #5f5f5f;



$color-light-gray: #eeeded;
$color-dark-gray: #72727d;
$color-dark-ash: #444444;

$color-danger: #b82e33;
$color-success: #35532f;

$error-background: #efd9da;
$error-color: #61283a;

$msg-box-background: #ddebdc;
$msg-box-text: #35532f;
$msg-box-shadow: #808080;

$default-gray: #eaeaea;
$dark-shadow: rgba(0, 0, 0, 0.09);
$transparent-dark-background: rgba(0, 0, 0, 0.6);
$default-box-shadow: 0 -23px 9px $dark-shadow;
$footer-text-color: #777;
$nav-color: #444;

$color-transparent-black: rgba(0, 0, 0, 0.75);
$color-transparent-white: rgba(255, 255, 255, 0.75);
$like-color-red: rgb(231, 64, 64);
$like-color-grey: #bfbbbb;
$twitter-blue: #0084ff;
$facebook-blue: #4267b2;
$like-color-red: rgb(231, 64, 64);
$like-color-grey: #bfbbbb;
