$color-white: #fff;
$color-dark: #333;

$color-light-gray: #eeeded;
$color-dark-ash: #444444;

$color-danger: #b82e33;
$color-success: #35532f;

$color-transparent-black: rgba(0, 0, 0, 0.75);
$color-transparent-white: rgba(255, 255, 255, 0.75);
