@import './partials/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

html,
body {
  color: $color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.flash {
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;

  &.flash-success {
    background-color: lighten($color-success, 55%);
    color: $color-success;
  }
  &.flash-danger {
    background-color: lighten($color-danger, 45%);
    color: $color-danger;
  }
}

.none {
  display: none;
}

.btn {
  background: transparent;
  border: 1px solid $color-danger;
  border-radius: 60px;
  box-shadow: none;
  color: $color-danger;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: auto;
  outline: transparent;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background: $color-danger;
    box-shadow: none;
    color: $color-white;
  }
}

.btn-lg {
  display: block;
  width: 100%;
}

.page-footer {
  background-color: $default-gray;
  color: $footer-text-color;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding: 20px 0;
  vertical-align: middle;

  a {
    color: $footer-text-color;
    padding: 10px;
  }

  .copyright {
    float: left;
    padding: 5px 0;
  }

  .footer-links {
    float: right;
    padding: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .page-footer {
    bottom: 0;
    text-align: center;

    .copyright {
      float: none;
      padding: 5px 0;
    }

    .footer-links {
      float: none;
      padding: 5px 0;
    }
  }
}

.like-style-unliked {
  font-size: 20px;
  color: $like-color-grey;
  cursor: pointer;
}

.like-style-liked {
  font-size: 20px;
  color: $like-color-red;
  cursor: pointer;
}
